<div class="container">

    <div class="page-header">
        <h1>Ramblings <small> a collection of my personal thoughts</small></h1>
    </div>
    
<div class="well">
<table class="table">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="span2">
        <h3><%= post.title %></h3>
        <%= post.created_at.strftime("%B %d, %Y")%><br />
        <%= post.created_at.in_time_zone("EST").strftime("%I:%M %p") %><br />
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
      </div><!-- /.span -->
      <div class="span6">
        <p><%= simple_format(post.content.html_safe) %></p>
      </div><!-- /.span- -->
    </div><!-- /.row --> 
    <br />
    <br />
  <% end %>
</table>
</div>

<%= link_to 'New Post', new_post_path %>
</div> <!-- /.container -->

